NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token
NEXT_PUBLIC_TIANDITU_KEY=your_tianditu_key
API_FOOTBALL_KEY=your_api_football_key
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
BLOB_READ_WRITE_TOKEN=your_vercel_blob_token
